* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	background-color: #333;
}

.box {
	padding: 80px 140px;
	background-color: #222;
	border-radius: 15px;
	box-shadow: 0 0 15px lime;
	overflow: hidden;
}

.link {
	position: relative;
	padding: 10px 20px;
	font-size: 50px;
	text-decoration: none;
	color: lime;
}

.link,
.link::before,
.link::after {
	transition: 0.3s;
}

/* pierwszy link */
.one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #fff;
	transform: scaleX(0);
	transform-origin: right;
}

.one:hover::before {
	transform-origin: left;
	transform: scaleX(1);
	transition: transform 0.3s;
}

/* drugi link */
.two::before,
.two::after {
	content: '';
	position: absolute;
	width: 0px;
	height: 0%;
}

.two::before {
	top: -3px;
	left: -8px;
	border-top: 0px solid #fff;
	border-left: 0px solid #fff;
}

.two::after {
	bottom: -3px;
	right: -8px;
	border-bottom: 0px solid #fff;
	border-right: 0px solid #fff;
}

.two:hover::before,
.two:hover::after {
	width: 50px;
	height: 50%;
}

.two:hover::before {
	border-top: 3px solid #fff;
	border-left: 3px solid #fff;
}

.two:hover::after {
	border-bottom: 3px solid #fff;
	border-right: 3px solid #fff;
}

/* trzeci link */
.three::before,
.three::after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 0;
	height: 3px;
	background-color: #fff;
}

.three::before {
	left: 50%;
}

.three::after {
	right: 50%;
}

.three:hover::before,
.three:hover::after {
	width: 50%;
}

/* czwarty link */
.four {
	z-index: 0;
}

.four::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: #ffffffdb;
	z-index: -1;
}

.four:hover::before {
	height: 100%;
}

/* piąty link */
.five {
	z-index: 0;
}

.five::before,
.five::after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 0;
	height: 100%;
	background-color: #fff;
	z-index: -1;
}

.five::before {
	left: 0;
}

.five::after {
	right: 0;
}

.five:hover::before,
.five:hover::after {
	animation: fade 0.3s forwards;
}

@keyframes fade {
	from {
		width: 0;
	}

	to {
		width: 50%;
	}
}